<!doctype html>
<html>

    <head>
        <title> My Calculator App </title>
    </head>

    <body>
        <h1>Hello World!</h1>
        <hr>
        <h3>This is a calculator App:</h3>


        <form action="/add" method="GET" >
            <label>First Number:</label>
            <input type="text" name="first_num">

            <br>

            <label>Second Number:</label>
            <input type="text" name="second_num">

            <br>

            <input type="submit" value="Add">
        </form>


    </body>

</html>